.menu-dropdowned{
  display: none;
  position:absolute;
  z-index: 1000;
  color: black;
  background-color:white;
  margin-top:20px;
}
.menu-dropdowned h5 a{
	font-size:14px !important;
}
.menu-dropdowned li{
	border-right:none !important;
	margin-top:5px !important;
	margin-bottom:5px !important;
}
.menu-dropdowned li a{
  font-weight: normal !important;
  font-size: 12px !important;
  margin-left:-38px;
}
