#myCarousel ul li{
    border-color: black;
    border-width: 1px;
    background-color: white;
}

#myCarousel ul li:hover{
    background-color: gray;
}
.myCaption {
    color: black;
    top: 24.2%;
    cursor: pointer;
    text-align: center;
}
.myCaption h1{
	font-size:70px;
    font:"Roboto",sans-serif;
    text-transform: uppercase;
    color: #3D3B3B;
    margin: 0px;
    padding: 0px;
}
.myCaption h2{
    font:"Roboto",sans-serif;
	font-size:75px;
    color: #F36351;
    margin: -8px 0px 0px;
    padding: 0px;
}
.myCaption h3{
	font-size:50px;
    font: "Roboto",sans-serif;
    color: #3D3B3B;
    margin: 0px 0px 7px;
    padding: 0px;
}
.box-slide {
        font-size: 20px;
    }
/* ------------------ Home Slider --------------------*/
@media (max-width: 1200px) {
    .box-slide {
        font-size: 14px;
    }
	.myCaption h1{
		font-size:60px;
		font-weight:lighter;
	}
	.myCaption h2{
		font-size:70px;
		font-weight:lighter;
	}
	.myCaption h3{
		font-size:35px;
		font-weight:lighter;
	}
}
@media (max-width: 1000px) {
    .box-slide {
        font-size: 12px;
    }
	.myCaption h1{
		font-size:40px;
		font-weight:lighter;
	}
	.myCaption h2{
		font-size:35px;
		font-weight:lighter;
	}
	.myCaption h3{
		font-size:20px;
		font-weight:lighter;
	}
}
@media (max-width: 480px) {
    .box-slide {
        font-size: 4px;
    }
	.box-slide button {
          display: none;
    }
	.myCaption h1{
		font-size:22px;
		font-weight:lighter;
	}
	.myCaption h2{
		font-size:22px;
		font-weight:lighter;
	}
	.myCaption h3{
		font-size:15px;
		font-weight:lighter;
	}
}
/* ------------------ End Home Slider -------------------*/