/*
------------ TOOL CUSTOMIZATION  --------------
*/
#tool_customization {
    position: fixed;
    left: -215px;
    top: 150px;
    z-index: 10000;
    height: auto;
    width: 215px;
    background: -webkit-linear-gradient(black, gray);
    background: -o-linear-gradient(black, gray);
    background: -moz-linear-gradient(black, gray);
    background: linear-gradient(black, gray);
}
#tool_customization p {
    padding: 15px;
    color: #FFF;
    font-size: 13px;
}
#tool_customization p span {
    color: #8D8C8C;
    font-size: 11px;
}
#tool_customization .list-tools {
    background: none repeat scroll 0% 0% #484848;
    border-width: 1px medium;
    border-style: solid none;
    border-color: #595959 -moz-use-text-color;
    -moz-border-top-colors: none;
    -moz-border-right-colors: none;
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    border-image: none;
    height: 50px;
}
#tool_customization .list-tools p {
    font-size: 1em;
    text-transform: uppercase;
}
#tool_customization p {
    padding: 15px;
    color: #FFF;
    font-size: 13px;
}
p {
    margin: 0px 0px 9px;
}
/*
------------ COLOR BOX --------------
*/
#tool_customization #color-box {
    margin: 0px;
    padding: 15px 0px 0px 15px;
}
#tool_customization #color-box li {
    cursor: pointer;
}
#tool_customization #color-box li {
    display: inline-block;
    border: 2px solid #000;
    height: 26px;
    width: 26px;
    margin: 0px 15px 15px 0px;
}
.footer-container #footer ul li {
    padding-bottom: 11px;
}
#tool_customization #color-box li.theme1 {
    display: none;
}
#tool_customization #color-box .theme1 .color1 {
    border: 13px solid #FFF;
}
#tool_customization #color-box .color-theme1 {
    display: block;
    width: 0px;
    height: 0px;
    border-left-color: transparent !important;
    border-top-color: transparent !important;
    position: relative;
    z-index: 1;
}
#tool_customization #color-box .theme1 .color2 {
    background: none repeat scroll 0% 0% #484848;
}
#tool_customization #color-box .color-theme2 {
    display: block;
    width: 26px;
    height: 26px;
    position: relative;
    top: -26px;
}
#tool_customization #color-box .theme2 .color1 {
    border: 13px solid #40383B;
}
#tool_customization #color-box .color-theme1 {
    display: block;
    width: 0px;
    height: 0px;
    border-left-color: transparent !important;
    border-top-color: transparent !important;
    position: relative;
    z-index: 1;
}
#tool_customization #color-box .theme2 .color2 {
    background: none repeat scroll 0% 0% #CC4C52;
}
#tool_customization #color-box .color-theme2 {
    display: block;
    width: 26px;
    height: 26px;
    position: relative;
    top: -26px;
}
#tool_customization #color-box .theme3 .color1 {
    border: 13px solid #235C6E;
}
#tool_customization #color-box .color-theme1 {
    display: block;
    width: 0px;
    height: 0px;
    border-left-color: transparent !important;
    border-top-color: transparent !important;
    position: relative;
    z-index: 1;
}
#tool_customization #color-box .theme3 .color2 {
    background: none repeat scroll 0% 0% #64C4E3;
}
#tool_customization #color-box .color-theme2 {
    display: block;
    width: 26px;
    height: 26px;
    position: relative;
    top: -26px;
}
#tool_customization #color-box .theme4 .color1 {
    border: 13px solid #442823;
}
#tool_customization #color-box .color-theme1 {
    display: block;
    width: 0px;
    height: 0px;
    border-left-color: transparent !important;
    border-top-color: transparent !important;
    position: relative;
    z-index: 1;
}
#tool_customization #color-box .theme4 .color2 {
    background: none repeat scroll 0% 0% #F8A5A1;
}
#tool_customization #color-box .color-theme2 {
    display: block;
    width: 26px;
    height: 26px;
    position: relative;
    top: -26px;
}
#tool_customization #color-box .theme5 .color1 {
    border: 13px solid #736692;
}
#tool_customization #color-box .color-theme1 {
    display: block;
    width: 0px;
    height: 0px;
    border-left-color: transparent !important;
    border-top-color: transparent !important;
    position: relative;
    z-index: 1;
}
#tool_customization #color-box .theme5 .color2 {
    background: none repeat scroll 0% 0% #9CD6C0;
}
#tool_customization #color-box .color-theme2 {
    display: block;
    width: 26px;
    height: 26px;
    position: relative;
    top: -26px;
}
/*
------------ FONT BOX --------------
*/
#tool_customization #font-box {
    padding: 0px 15px 15px;
}
#tool_customization #font-box p {
    padding: 0px;
    margin: 15px 0px 5px;
    color: #9C9B9B;
}
#tool_customization p {
    padding: 15px;
    color: #FFF;
    font-size: 13px;
}
#tool_customization #font-box .font-list {
    height: 30px;
    width: 180px;
}
/*
------------ BUTTON BOX --------------
*/
#tool_customization .btn-tools {
    background: none repeat scroll 0% 0% #484848;
    border-width: 1px medium;
    border-style: solid none;
    border-color: #595959 -moz-use-text-color;
    -moz-border-top-colors: none;
    -moz-border-right-colors: none;
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    border-image: none;
    height: 56px;
    padding: 10px 15px;
}
#tool_customization .btn-1 {
    background: none repeat scroll 0% 0% #727171;
    color: #FFF;
    margin: 0px 4% 0px 0px;
}
#tool_customization .btn {
    width: 43%;
    padding: 8px 5px;
    float: left;
    display: block;
    overflow: hidden;
}
.btn {
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0px;
    font-size: 13px;
    font-weight: normal;
    line-height: 1.42857;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    border: 1px solid transparent;
    border-radius: 0px;
    white-space: nowrap;
    -moz-user-select: none;
}
#tool_customization #quit {
    float:left;
    margin: 0px;
    color: #FFF;
}
/*
------------------------------------------------------------------------------------------
*/
#toggleButton{
    background-color: black;
    height: 50px;
    width: 50px;
    left: 215px;
    position: fixed;
    top:150px;
    cursor: pointer;
    color: white;
    font-size: 30px;
    text-align: center;
    line-height: 50px;
    z-index: 10000;
}
#toggleButton.hideSlideMenu{
  -webkit-transition: 1s;
  -moz-transition: 1s;
  -ms-transition: 1s;
  -o-transition: 1s;
  transition: 1s;
  margin-left: -220px; !important;
}
#toggleButton.showSlideMenu {
  -webkit-transition: 1s;
  -moz-transition: 1s;
  -ms-transition: 1s;
  -o-transition: 1s;
  transition: 1s;
  margin-left: 0px; !important;
}

#tool_customization.hideSlideMenu {
  -webkit-transition: 1s;
  -moz-transition: 1s;
  -ms-transition: 1s;
  -o-transition: 1s;
  transition: 1s;
  margin-left: -220px; !important;
}
#tool_customization.showSlideMenu {
  -webkit-transition: 1s;
  -moz-transition: 1s;
  -ms-transition: 1s;
  -o-transition: 1s;
  transition: 1s;
  margin-left: 0px; !important;
}


